*{
  font-family: 'JETSansDigital';
}

body {
  background-color: #F5F3F1;
}

.art-image {
  width: 398px;
  height: 299px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 398px; 
  height: auto;
}

.card-info {
  /*width: Fill 398px;
  height: 112px; */
  padding: 24px 16px 24px 16px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  
  background: #262626;

}

.grid-container {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(398px, 1fr)); /* Responsive grid */
  grid-gap: 5px; /* Spacing between cards */
  justify-items: left; 
}


.title-and-artist {
  
  display: flex;
  flex-wrap: wrap;
  /*line-height: 0.5;*/
  justify-content: space-between;
  align-items: baseline;
  

}



.card-title {
display: inline;
text-align: left;
font-size: 24px;
font-weight: 800;
margin-right: 8px;
margin-bottom: 0;
margin-top: 0;
color: white;
line-height: 28px; 


}


.artist-name {
display: inline-flex;
font-size: 24px;
font-weight: 400;
color: #ffffff;
line-height: 28px;
flex-grow: 1;
margin-top: 0;
margin-bottom: 0;
}

.card-location {
font-size: 16px;
font-weight: 400;
line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 8px;
}

@media only screen
     and (width: 430px) 
     and (device-height: 932px)
     and (-webkit-device-pixel-ratio: 3) {

      h1{
        font-size: x-large;
        color: red;
      }
}